{% extends "base/manager-base.html" %} {% block container %} {% load static %}
{% include 'includes/manager-nav.html' %}


<section class="p-10">
    <div class="flex justify-between items-center mb-5">
        <h1>CATEGORIES LIST:</h1>
        <a href="{% url 'managers:category_add' %}" class="py-2 px-4 text-white font-bold text-[14px] bg-cyan-600 rounded-md">ADD NEW</a>
    </div>
    <div>
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="min-w-full text-left text-sm font-light">
                    <thead class="border-b font-medium dark:border-neutral-500">
                      <tr>
                        <th scope="col" class="px-6 py-4">Name</th>
                        <th scope="col" class="px-6 py-4">Edit</th>
                        <th scope="col" class="px-6 py-4">Delete</th>
                      </tr>
                    </thead>
                    <tbody>

                        {% for instance in instances %}
                        <tr class="border-b dark:border-neutral-500">
                            <td class="whitespace-nowrap px-6 py-4">{{instance.name}}</td>
                            <td class="whitespace-nowrap px-6 py-4">
                                <a href="{% url 'managers:category_add' %}" class="py-1 px-4 text-white font-bold text-[14px] bg-cyan-600 rounded-md">EDIT</a>
                            </td>
                            <td class="whitespace-nowrap px-6 py-4">
                                <a href="{% url 'managers:category_delete' id=instance.id %}" class="py-1 px-4 text-white font-bold text-[14px] bg-red-500 rounded-md">DELETE</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    </div>

</section>

{% endblock %}
