{% extends "base/manager-base.html" %} {% block container %} {% load static %}

<section class="flex justify-center items-center min-h-screen px-10">
    <div class="w-full sm:w-[60%] md:w-[40%] p-5 rounded-md shadow-md border-2">
        <h1 class="text-center font-bold mb-10 text-[24px]">ADMIN LOGIN</h1>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="username"  placeholder="Enter Username" class="outline-none w-full py-2 px-5 rounded-md border-2">
            <input type="text" name="password"  placeholder="Enter Password" class="outline-none w-full py-2 px-5 rounded-md border-2 mt-5">
            <input type="submit" value="LOGIN"  class="bg-black hover:bg-slate-600 cursor-pointer text-white outline-none w-full py-2 px-5 rounded-md border-2 mt-5">

        </form>
        {% if error %}
        <p class="mt-4 text-red-500">{{message}}</p>
        {% endif %}
      
    </div>

</section>


{% endblock %}