{% load static %}


<header class="h-[70px] flex justify-between items-center px-10 shadow-md">
    <div class="">
        <h1 class="font-extrabold text-[24px] text-blue-600">LOGO</h1>
    </div>
    <div>
        <ul class="flex justify-end items-center">
           <li class="mr-4 font-bold text-[16px] text-blue-600"><a href="#">HOME</a></li>
           <li class="mr-4 font-bold text-[16px] text-blue-600"><a href="#">PRODUCTS</a></li>
           <li class="mr-4 font-bold text-[16px] text-blue-600"><a href="#">MY ACCOUNT</a></li>
           <li class="mr-4 font-bold text-[16px] text-blue-600"><a href="#">LOGOUT</a></li>

        </ul>
    </div>
</header>