{% load static %}


<header class="h-[70px] flex justify-between items-center px-10 shadow-md">
    <div>
        <h1 class="font-extrabold text-[24px] text-blue-600">LOGO</h1>
    </div>
    <div>
        <ul class="flex justify-end items-center">
           <li class="mr-4 font-bold text-[16px] text-blue-600"><a href="{% url 'managers:index' %}">DASHBOARD</a></li>
           <li class="mr-4 font-bold text-[16px] text-blue-600"><a href="{% url 'managers:products' %}">PRODUCTS</a></li>
           <li class="mr-4 font-bold text-[16px] text-blue-600"><a href="{% url 'managers:category' %}">CATEGORIES</a></li>
           <li class="mr-4 font-bold text-[16px] text-blue-600"><a href="{% url 'managers:size' %}">SIZES</a></li>
           <li class="mr-4 font-bold text-[16px] text-blue-600"><a href="{% url 'managers:orders' %}">ORDERS</a></li>
           <li class="mr-4 font-bold text-[16px] text-blue-600"><a href="{% url 'managers:customers' %}">COUSTOMERS</a></li>
           <li class="mr-4 font-bold text-[16px] text-blue-600"><a href="{% url 'managers:logout' %}">LOGOUT</a></li>

        </ul>
    </div>
</header>